[Desktop Entry]
Encoding=UTF-8
Name=Link to ArithemeticPackage
Type=Link
URL=https://github.com/manasis5/MCALAB/tree/main/SEM2/JAVA/ArithemeticPackage
Icon=text-html
